h1{
    color:#ffffff;
    text-align: center;
    font-family: 'Roboto';
}

h2{
    color:#ffffff;
    text-align: center;
    font-family: 'Roboto';
}

p{
    color:#ffffff;
}

body{
    background-color: #1b1f22;
}

img{
    display: grid;
    margin: auto;
}

a{
    text-decoration: none;
}

@media (max-width:504px){

    img{
        width: 100%;
    }
}